@model IEnumerable<T03_CompetitionPlatform.Models.Competition>

@{
    ViewData["Title"] = "CompetitionRecordsView";
}

@{
    Layout = null;
}

<!-- Edited this 27/6/2021 8pm  Delete Judges Function-->

<partial name="~/Views/Admin/_AdminNav.cshtml" />

<h4 class="PageTitle" style="margin-top: 70px; font-size:200%; text-align:center;">CompetitionRecords</h4>
<br />

<p style="text-align: center;font-size: 175%;"><a asp-action="CreateCompetitionsView">Create</a></p>

<span style="color:red;">@TempData["CompetitionDeleteMessage"]</span>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CompetitionID</th>
                    <th>AreaInterestID</th>
                    <th>CompetitionName</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>ResultReleasedDate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompetitionID.ToString()</td>
                        <td>@item.AreaInterestID.ToString()</td>
                        <td>@item.CompetitionName.ToString()</td>
                        <td>@item.StartDate.ToString()</td>
                        <td>@item.EndDate.ToString()</td>
                        <td>@item.ResultReleasedDate.ToString()</td>
                        <td>
                            <a asp-action="DeleteCompetition" asp-controller="Admin" asp-route-id="@item.CompetitionID">Delete</a>

                            <a asp-action="EditCompetition" asp-controller="Admin" asp-route-id="@item.CompetitionID">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}