@model IEnumerable<T03_CompetitionPlatform.Models.Competition>

@{
    ViewData["Title"] = "Guest View";
}


    @if (Model.ToList().Count > 0)
    {
        @foreach (var item in Model)
        {
            <div class="container-fluid" style="border: 2px; border-color:black; border-style:solid; margin-bottom:20px">
                <div>
                    <p>@item.CompetitionName</p>
                    <p>@item.StartDate?.ToString("dddd, dd MMMM yyyy") to @item.EndDate?.ToString("dddd, dd MMMM yyyy")</p>
                </div>
                <div>
                    <a asp-action="ViewCompetitors" asp-route-name="@item.CompetitionName" asp-route-id="@item.CompetitionID">View</a>
                </div>
            </div>
        }
    }
    else
    {
        <span style="color:red">No record found!</span>
    }
