@model IEnumerable<T03_CompetitionPlatform.Models.CompSubmissionViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCompetitors</title>
</head>
<body>
    <partial name="~/Views/Guest/_GuestNavbar.cshtml" />
    
    
    <h5 style="text-align: center; padding-top:30px;">View submissions</h5>
    <table class="table">
        <thead>
            <tr>
            
                <th>
                    @Html.DisplayNameFor(model => model.CompetitorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeFileUpload)
                </th>
            
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSubmitted)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.DateTimeFileUpload)
                </td>
                <td>
                
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
