@model IEnumerable<T03_CompetitionPlatform.Models.CompSubmissionViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCompetitors</title>
</head>
<body>
    <partial name="~/Views/Guest/_GuestNavbar.cshtml" />
    
    <h1 style="text-align:center; padding-top:30px;">@ViewData["CompName"]</h1>
    <h5 style="text-align: center; padding-top:30px;">View submissions</h5>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.CompetitorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeFileUpload)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ToList().Count > 0)
            {
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salutation) @Html.DisplayFor(modelItem => item.CompetitorName)
                </td>
                <td>
                    <embed src="~/images/@item.FileSubmitted" type="application/pdf" height="100px" width="100px">
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.DateTimeFileUpload, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                </td>
                <td>

                    @Html.ActionLink("View", "ViewCompetitorWork", new { competitorID = item.CompetitorID })

                </td>
            </tr>
                }
            }
            else
            {
                <span style="color:red">No record found!</span>
            }
        </tbody>
    </table>
</body>
</html>
