@model T03_CompetitionPlatform.Models.CompSubmissionViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js">
    </script>
    <title>ViewCompetitorWork</title>
</head>


<body style="padding:70px;">
    @if (Context.Session.GetString("Role") == "Guest")
    {
        <partial name="~/Views/Guest/_GuestNavbar.cshtml" />
    }
    else if (Context.Session.GetString("Role") == "Admin")
    {
        <partial name="~/Views/Admin/_AdminNav.cshtml" />
    }
    else if (Context.Session.GetString("Role") == "Judge")
    {
        <partial name="~/Views/Judge/_JudgeNav.cshtml" />
    }

    <h3 style="text-align:center; padding-top:50px; padding-bottom:50px;">@Model.CompetitionName</h3>
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="card mx-auto w-50">

                @if (Model.FileSubmitted != null)
                {
                    <embed src="~/images/@Model.FileSubmitted" type="application/pdf" height="500px">
                }
                else
                {
                    <img src="~/images/missingfile.png" height="500px" width="100%">
                }
                <div class="card-body">
                    <p class="card-text">Competitor name: @Model.Salutation @Model.CompetitorName</p>
                    @if (Model.DateTimeFileUpload != null)
                    {
                        <p class="card-text">Upload date: @Model.DateTimeFileUpload</p>
                    }
                    else
                    {
                        <p class="card-text">Upload date: NIL</p>
                    }
                    @if (Model.FileSubmitted != null && Model.DateTimeFileUpload != null && Context.Session.GetInt32(Model.CompetitionID.ToString()) == 0 && (DateTime.Now > Model.StartDate) && (DateTime.Now < Model.EndDate))
                    {
                        <form asp-action="addVote" method="post">
                            <div class="form-group">
                                <input asp-for="CompetitionName" value="@Model.CompetitionName" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="CompetitorName" value="@Model.CompetitorName" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Salutation" value="@Model.Salutation" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="CompetitionID" value="@Model.CompetitionID" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="CompetitorID" value="@Model.CompetitorID" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="FileSubmitted" value="@Model.FileSubmitted" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="DateTimeFileUpload" value="@Model.DateTimeFileUpload" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Appeal" value="@Model.Appeal" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="VoteCount" value="@Model.VoteCount" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Ranking" value="@Model.Ranking" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Vote" class="btn btn-lg btn-block btn-success" />
                            </div>
                        </form>
                    }

                    else if (Model.FileSubmitted == null && Model.DateTimeFileUpload == null)
                    {
                        <button type="button" class="btn btn-lg btn-block btn-warning" disabled>Art not submitted yet.</button>
                    }
                    else if (DateTime.Now > Model.EndDate)
                    {
                        <button type="button" class="btn btn-lg btn-block btn-secondary" disabled>Competition's over!</button>
                    }
                    else if (Context.Session.GetInt32(Model.CompetitionID.ToString()) == 1)
                    {
                        <button type="button" class="btn btn-lg btn-block btn-danger" disabled>You have already voted!</button>
                    }

                </div>
            </div>
        </div>
    </div>


</body>
</html>